extends layout

block content
  link(rel='stylesheet', href='/stylesheets/logs.css')

  head
    h1= title
  hr
  :markdown
    Welcome to #{title}. View [Test Status](/status)

  div(class='divStyle')

  label(class='baseHeader')
   |Log Information
   hr

  label(class='logInfo')
   strong Update Log 
   | shows the latest 100 entries stored in the database.
   br
   br
   strong Info
   | , 
   strong Warning
   | , 
   strong Error
   | , 
   strong Critical 
   | will show up to 100 of the latest entries of log that match that type.

  div(class='divStyle')

  button(class='btnLog', onclick='logTest()') Update Log

  button(class='btnLog', onclick='infoLog()') Info

  button(class='btnLog', onclick='warningLog()') Warning

  button(class='btnLog', onclick='errorLog()') Error

  button(class='btnLog', onclick='criticalLog()') Critical

  hr

  label(class='logInfo')
   strong Log:

  ul#lstLog
    li This log is empty.

  div(class='divStyle')

  label(class='baseHeader')
   |Clear Logs
   hr

  label(class='logInfo')
   strong Warning: 
   | pressing the below button will 
   strong permanently delete  
   | all logs in the database.
   br
   br

  div

  button(class='btnLog', onclick='deleteLogs()') Clear Logs

  script(src='./javascripts/logTest.js')
  script(src='./javascripts/infoLog.js')
  script(src='./javascripts/criticalLog.js')
  script(src='./javascripts/errorLog.js')
  script(src='./javascripts/warningLog.js')
  script(src='./javascripts/deleteLogs.js')
  script(src='http://code.jquery.com/jquery-1.4.2.min.js')