extends layout

block content
  h1= title
  :markdown
    Welcome to #{title}  go to [Status](/status)?
  div

      button(class='btn', style='width: 100px; height:50px; background-color:green', onclick='logTest()') Update Log

      button(class='btn', style='width: 100px; height:50px; background-color:blue', onclick='logTest()') Info

      button(class='btn', style='width: 100px; height:50px; background-color:yellow', onclick='logTest()') Warning

      button(class='btn', style='width: 100px; height:50px; background-color:orange', onclick='logTest()') Error

      button(class='btn', style='width: 100px; height:50px; background-color:red', onclick='logTest()') Critical

      p Press update log to retrieve last 10 entries:
      p Press Info, Error, Warning or Critical to retrieve the last 10 entries of that error level:
      ul#lstLog


  div

  script(src='./javascripts/logTest.js')
  script(src='http://code.jquery.com/jquery-1.4.2.min.js')