extends layout

block content
  h1= title
  :markdown
    Welcome to #{title} [Status](/status)
  div
    #button
      script(src='./javascripts/logTest.js')

      button(class='btn', style='width: 100px; height:50px; background-color:green', onclick='logTest()') Log Test Test

      p Ben

  div


  script(src='./logs.js')