extends layout
html(lang='en')
block content
  head
    h1= title
  hr
  :markdown
    Welcome to #{title} [View Logs](/logs)

  div
    link(rel='stylesheet', href='/stylesheets/status.css')
    script(src='./javascripts/pauseCurrentTest.js')
    script(src='./javascripts/skipTestPoint.js')
    script(src='./javascripts/stopTest.js')
    script(src='./javascripts/submitTestSettings.js')
    script(src='./javascripts/downloadData.js')

  div(class='divControl')

  label(class='lblControlHeader')
   |Test Control
   hr

  button(class='btnTestControl', id='btnPause', onclick='pauseCurrentTest()') Pause Test

  button(class='btnTestControl', id='btnSkip', onclick='skipTestPoint()') Skip Test Point

  button(class='btnTestControl', id='btnStop', onclick='stopTest()') Stop Test

  div

  label(class='lblCurrentTP') Current Test Point:

  label(class='lblCurrentTPValue', id='currentTP') --

  label(class='lblRemainingTP') Remaining Test Points:

  select(class='drpdwnRemainingTP')#remainingTestPoints
    option(value='A')  a
    option(value='B')  b
    option(value='C')  c
    option(value='D')  d

  div(class='divSettings')

  label(class='lblSettingsHeader')
   |Test Settings
   hr

  label(class='lblSettingsSub') Current P:

  label(for='currentPSet', id='lblCurrentP', class='lblSettingsActualValue') --

  label(class='vertDiv') |

  label(class='lblSettingsSubMod') Modify P Value:

  form(oninput='pSet.value=rangeInput.value' style='display:inline-block')
    input#rangeInput(type='range', max='100', min='0', name='rangeInput', class='sliderSettings')
    label(class='lblSliderValue') Slider Value:
    input(class='txtBxSlider', disabled='disabled', for='rangeInput', name='pSet', value='50')

  div

  label(class='lblSettingsSub') Current I:

  label(for='currentISet', id='lblCurrentI', class='lblSettingsActualValue') --

  label(class='vertDiv') |

  label(class='lblSettingsSubMod') Modify I Value:

  form(oninput='iSet.value=rangeInput.value' style='display:inline-block')
    input#rangeInput(type='range', max='100', min='0', name='rangeInput', class='sliderSettings')
    label(class='lblSliderValue') Slider Value:
    input(class='txtBxSlider', disabled='disabled', for='rangeInput', name='iSet', value='50')

  div

  label(class='lblSettingsSub') Current D:

  label(for='currentDSet', id='lblCurrentD', class='lblSettingsActualValue') --

  label(class='vertDiv') |

  label(class='lblSettingsSubMod') Modify D Value:

  form(oninput='dSet.value=rangeInput.value' style='display:inline-block')
    input#rangeInput(type='range', max='100', min='0', name='rangeInput', class='sliderSettings')
    label(class='lblSliderValue') Slider Value:
    input(class='txtBxSlider', disabled='disabled', for='rangeInput', name='dSet', value='50')

  div

  label(class='lblSettingsSub') Current Control Mode:

  label(for='currentCMode', id='lblCurrentControlMode', class='lblSettingsActualValue') --

  label(class='vertDiv') |

  label(class='lblSettingsSubMod') Modify Control Mode:

  select#tempControl(class='drpdwnSettings')
    option(value='autoPID')  Auto PID
    option(value='autoPI')  Auto PI
    option(value='manualPID')  Manual PID
    option(value='manualPI')  Manual PI

  div

  label(class='lblSettingsSub') Current Power Mode:

  label(for='currentPower', id='lblCurrentPower', class='lblSettingsActualValue') --

  label(class='vertDiv') |

  label(class='lblSettingsSubMod') Modify Power Mode:

  select#power(class='drpdwnSettings')
    option(value='50mW') 50mW
    option(value='500mW') 500mW
    option(value='5W') 5W
    option(value='50W') 50W

  div

  button(class='btnSubmitSettings') Submit Settings

  div(class='divDownloads')

  label(class='lblDownloadsHeader')
   |Graphs
   hr
  
  div(id='Snpchartdiv')
    svg(class='Snpchart')
  div(id='snpLegend', width="200px")
    div(id='selectPlotType', width="200px")
    hr(width="200px", align="left")
    div(id='selectSparams', width="200px")
    hr(width="200px", align="left")
  div(id='Tchartdiv')
    svg(class='Tchart')
  script(src='http://code.jquery.com/jquery-1.4.2.min.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='./javascripts/currentTempPlot.js')
  script(src='./javascripts/currentSnpPlot.js')
  script(src='./javascripts/updateTestSettings.js')

  div(class='divDownloads')

  label(class='lblDownloadsHeader')
   |Download Options
   hr

  label(class='lblDownloadsInfoSNP')
   |Download the current SNP data. This includes frequency, S11 re/im, S12 re/im, S21 re/im, S22 re/im in a .CSV format.
   br
   hr
   strong NOTE: 
   | Not supported in IE.

  button(class='btnDownloadSNP', onclick='downloadSNPData()') Download SNP Data

  label(class='lblDownloadsInfoGraphs')
   |Download a graph on the page as an .SVG file.
   br
   hr
   strong NOTE: 
   | Not supported in IE.

  button(class='btnDownloadGraph', onclick='activateSVGCrowbar()') Download Graph