extends layout

block content
  h1= title
  div
    #button
      button(class='btn', style='width: 100px; height:50px; background-color:orange') Pause Current Test
      
      button(class='btn', style='width: 100px; height:50px; background-color:yellow') Skip Current Test Point

  div
    svg(class='chart')
    script(src='http://code.jquery.com/jquery-1.4.2.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='./javascripts/currentTempPlot.js')

