extends layout

block content
  h1= title
  svg(class='chart')
  script(src='http://code.jquery.com/jquery-1.4.2.min.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='./javascripts/currentTempPlot.js')