extends layout
html(lang='en')
block content
  head
    h1= title
  :markdown
    Welcome to #{title} [View Logs](/logs)
  div
    link(rel='stylesheet', href='/stylesheets/status.css')
    script(src='./javascripts/pauseCurrentTest.js')
    script(src='./javascripts/skipTestPoint.js')
    script(src='./javascripts/stopTest.js')
    script(src='./javascripts/submitTestSettings.js')
    script(src='./javascripts/downloadData.js')

    div
    br
    button(class='btn', id='btnPause', style='width: 125px; height:50px; background-color:orange', onclick='pauseCurrentTest()') Pause Test

    button(class='btn', id='btnSkip', style='width: 125px; height:50px; background-color:yellow', onclick='skipTestPoint()') Skip Test Point

    button(class='btn', id='btnStop', style='width: 125px; height:50px; background-color:red', onclick='stopTest()') Stop Test
    
    button(class='btn', id='btnDownloadSNP', style='width: 150px; height:50px; background-color:green', onclick='downloadSNPData()') Download SNP Data

    button(class='btn', id='btnDownloadSVG', style='width: 150px; height:50px; background-color:blue', onclick='activateSVGCrowbar()') Download Graph
    
    h2 Settings
    div
    p P:
    label(for='currentPSet', id='lblCurrentP', class='visiblelabel') --
    form(oninput='pSet.value=rangeInput.value')
      input#rangeInput(type='range', max='100', min='0', name='rangeInput')
      input(style='background:#C5E3BF', disabled='disabled', for='rangeInput', name='pSet', value='50')
    div
    p I:
    label(for='currentISet', id='lblCurrentI', class='visiblelabel') --
    form(oninput='iSet.value=rangeInput.value')
      input#rangeInput(type='range', max='100', min='0', name='rangeInput')
      input(style='background:#C5E3BF', disabled='disabled', for='rangeInput', name='iSet', value='50')
    div
    p D: 
    label(for='currentDSet', id='lblCurrentD', class='visiblelabel') --
    form(oninput='dSet.value=rangeInput.value')
      input#rangeInput(type='range', max='100', min='0', name='rangeInput')
      input(style='background:#C5E3BF', disabled='disabled', for='rangeInput', name='dSet', value='50')
    div
    p Control Mode:
    label(for='currentCMode', id='lblCurrentControlMode', class='visiblelabel') --
    select#tempControl
      option(value='autoPID')  Auto PID
      option(value='autoPI')  Auto PI
      option(value='manualPID')  Manual PID
      option(value='manualPI')  Manual PI
    div
    p Power:
    label(for='currentPower', id='lblCurrentPower', class='visiblelabel') --
    select#power
      option(value='50mW')  50mW
      option(value='500mW')  500mW
      option(value='5W')  5W
      option(value='50W')  50W
    div
      input(type='submit', value='Submit Settings', onclick='updateTestSettings()')
    div
    p Remaining Test Points:
    select#remainingTestPoints
      option(value='A')  A
      option(value='B')  B
      option(value='C')  C
      option(value='D')  D
    div
    div(id='Snpchartdiv')
      svg(class='Snpchart')
    div(id='selectSparams')
    //
      input(type='checkbox', name='doS11', id='doS11')
      | S11
      br
      input(type='checkbox', name='doS11', id='doS12')
      | S12
      br
      input(type='checkbox', name='doS11', id='doS21')
      | S21
      br
      input(type='checkbox', name='doS11', id='doS22')
      | S22
    div(id='Tchartdiv')
      svg(class='Tchart')
    script(src='http://code.jquery.com/jquery-1.4.2.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='./javascripts/currentTempPlot.js')
    script(src='./javascripts/currentSnpPlot.js')
    script(src='./javascripts/updateTestSettings.js')