extends layout

block content
  h1= title
  div
    #button
      script(src='./javascripts/pauseCurrentTest.js')
      script(src='./javascripts/skipTestPoint.js')
      script(src='./javascripts/stopTest.js')

      button(class='btn', id='btnPause', style='width: 100px; height:50px; background-color:orange', onclick='pauseCurrentTest()') Pause Test

      button(class='btn', id='btnSkip', style='width: 100px; height:50px; background-color:yellow', onclick='skipTestPoint()') Skip Test Point

      button(class='btn', id='btnStop', style='width: 100px; height:50px; background-color:red', onclick='stopTest()') Stop Test

  div
  svg(class='Tchart')
  svg(class='Snpchart')
  script(src='http://code.jquery.com/jquery-1.4.2.min.js')
  script(src='http://d3js.org/d3.v3.min.js')
  script(src='./javascripts/currentTempPlot.js')
  script(src='./javascripts/currentSnpPlot.js')
  script(src='./javascripts/updateTestSettings.js')