.logdata {
	font: 10px "Console", Arial;
}

.bar {
	fill: steelblue;
}

.bar:hover {
	fill: brown;
}

.chart text {
	fill: black;
	font: 10px sans-serif;
	text-anchor: end;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}