.divControl{
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 15px
}
.divSettings{
	border-style: solid;
	border-width: 1px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.divDownloads{
	border-style: solid;
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}
h1{
	font: 15px helvetica;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 250%;
	text-align: center;
	display: block;
}
h2{
	font: 15px helvetica;
	text-align: center;
}
.lblControlHeader{
	font: 15px helvetica;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 200%;
	display: block;
}
.lblRemainingTestPointsHR{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}
.lblCurrentTP{
	font: 15px helvetica;
	font-weight: bold;
	width: 135px;
	display: inline-block;
}
.lblCurrentTPValue{
	font: 15px helvetica;
	width: 40px;
	display: inline-block;
	margin-left: 5px;
	margin-right: 25px;
}
.lblRemainingTP{
	font: 15px helvetica;
	width: 170px;
	font-weight: bold;
	display: inline-block;
}
.lblSettingsHeader{
	font: 15px helvetica;
	margin-top: 15px;
	font-weight: bold;
	font-size: 200%;
	display: block;
}
.lblSettingsSub{
	font: 15px helvetica;
	margin-bottom: 10px;
	width: 175px;
	font-weight: bold;
	display: inline-block;
}
.lblSettingsActualValue{
	font: 15px helvetica;
	width: 30px;
	display:inline-block;
	text-align: center;
}
.lblSettingsSubMod{
	font: 15px helvetica;
	font-weight: bold;
	width: 175px;
	display:inline-block;
	text-align: right;
}
.lblSliderValue{
	font: 15px helvetica;
	margin-left: 10px;
	margin-right: 10px;
	width: 100px;
	font-weight: bold;
}
.lblDownloadsHeader{
	font: 15px helvetica;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 200%;
	display: block;
}
.lblDownloadsInfoSNP{
	font: 15px helvetica;
	width: 400px;
	margin-right: 10px;
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: middle;
}
.lblDownloadsInfoGraphs{
	font: 15px helvetica;
	width: 310px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.drpdwnRemainingTP{
	font: 15px helvetica;
	width: 75px;
	display: inline-block;
}
.drpdwnSettings{
	font: 15px helvetica;
	display:inline-block;
	margin-left: 10px;
	width: 100px;
}
.btnTestControl{ 
	font: 15px helvetica;
	margin-right: 10px;
	width: 125px;
	height:50px;
	font-weight: bold;
}
.btnSubmitSettings{
	font: 15px helvetica;
	margin-left: 455px;
}
.btnDownloadSNP{
	font: 15px helvetica;
	width: 160px;
	height: 50px;
	display: inline-block;
	font-weight: bold;
	margin-right: 20px;
}
.btnDownloadGraph{
	font: 15px helvetica;
	width: 150px;
	height: 50px;
	font-weight: bold;
}
.vertDiv{
	width: 50px;
	margin-left: 25px;
	display:inline-block;
	text-align: right;
}
.sliderSettings{
	margin-left: 10px;
	width: 150px;
	height: 10px;
}
#Snpchartdiv{
    float: left;
}
#Tchartdiv{
    clear: both;
}
/*#snpLegend{
    width: 150px;
    float: left;
}
#selectSparams{
    width: 150px;
    float: left;
}
#selectPlotType{
    float: left;
}*/
